.worked-content-container{
    display: flex;
    flex-direction: column;
    padding-top: 80px;

}

.worked-content-position{
    text-align: center;
    font-size: 25px;
}

.worked-content-date{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px
}

.worked-content-point-description {
    padding-bottom: 20px;
    text-align: center;
}
.worked-content-points {
    text-align: center;


}

.worked-content-point {
    margin-bottom: 20px;
}
