.navbar{
    display: flex;
    flex-direction: row;

    height: 50px;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.navbar-right{
    justify-content: flex-end;
    display: flex;
    right: 0px;
    width: 100%;
    margin-right: 20px;
}
.navbar-item{
    margin: 20px;
}

.navbar-left{
    justify-content: flex-start;
    width: 100%;

}