.about-container{
    margin-left: 200px;
    padding-top: 200px;
}

.about-title{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}

.about-content{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.about-description{
    width: 500px
}

.about-image{
    margin-left: 100px;
    width: 50%;
}

.about-skills{
    display: flex;
    flex-direction: row;
    margin-top: 20px
}

.about-skills-left{
    width: 30%;
    display: flex;
    flex-direction: column;

}

.about-skills-right{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.about-skill{
    margin: 10px;
    &::before{
        content: '▹';
        margin-right: 5px;
        color: white;
        font-size: 20px;
        line-height: 12px;
    }
}

.about-image-container{
    width: 300px;
    border-radius: 20px;
}