.about-container{
    margin-top: 200px;
    margin-left: 200px
}

.about-title{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}

.about-content{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.about-description{
    width: 500px
}

.about-image{
    margin-left: 100px;
}